<div id="game-wrapper" role="main">
  <div class="wrapper flexable" id="snake-wrapper">
    <h3> Retro Snake Plus</h3>
    <div id='power' [class.active]='!gameStatus.power' (click)="toggleGame();"></div>
    <div id='start' [class.active]='!gameStatus.start' (click)="toggleGame();"><h1>Retro Snake+</h1>
      <h3>Click to Start</h3></div>
    <div id='end' (click)="toggleGame();" [class.active]='!gameStatus.end'>
      <div class="wrapper flexable" id="leaderboard-wrapper">
        <ul id="leaderboard"  [class.active]='!gameStatus.end'>
          <div>Leaderboard</div>
          <li *ngFor="let x of score.last10">{{x.name}}: {{x.score}}</li>
        </ul>
        <h3  [class.active]='!gameStatus.end' >Click to Continue</h3>
      </div>
    </div>
    <div class='gui-text' id='score'>Score: {{score.current}}</div>
    <div class='gui-text' id='length'>Length: {{snake.maxCells}}</div>
    <canvas id="snake"></canvas>
  </div>
  <div class="wrapper flexable">
    <ul id="difficulty">
      <li *ngFor="let diff of difficulty" (click)="changeDifficulty(diff)" [class.active]='diff.active'
          [style.backgroundColor]="diff.color">{{diff.setting}}
      </li>
    </ul>
    <div id="powerbtn" (click)="togglePower(gameStatus.power)"><img src="/assets/powerbutton.ico"/></div>
  </div>
  <div class="flexable">
    <div class='font' id="name">Snake Name: <input [(ngModel)]="snake.name" type="text"></div>
    <!--<div class='font' id="color">Snake Color: <input id='colorPicker' type="color"></div>-->
    <!--<div class='font' id="bgColor">BG Color: <input id='bgPicker' type="color"></div>-->
  </div>
  <div id="movement-keys">
    <button id="up-button" (click)="movePlayer('up')"> ></button>
    <button id="right-button" (click)="movePlayer('right')"> ></button>
    <button id="down-button" (click)="movePlayer('down')"> ></button>
    <button id="left-button" (click)="movePlayer('left')"> ></button>
    <div></div>
  </div>


</div>
